<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>8</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(nenhum)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net5.0</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2023-11-27T19:49:04.2731092Z;True|2023-11-22T16:12:53.6157567-03:00;True|2022-09-30T18:57:36.0269134-03:00;True|2022-09-29T21:03:24.2365597-03:00;True|2022-07-21T20:56:52.1839969-03:00;True|2022-07-21T19:08:21.0666115-03:00;False|2022-07-21T19:04:53.8964073-03:00;False|2022-07-21T19:04:11.2887205-03:00;True|2022-07-21T18:44:45.8932135-03:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.5.0.x64">
      <Install>True</Install>
      <ProductName>Runtime do .NET 5.0.17 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>